.App {
  text-align: center;
}

.main {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  background-color: grey;
  padding: 5%;
}

li{
  text-align: center;
  margin-top: 5%;
}

.center-block{
  margin: auto;
  display: block;
}